
<form action="/{{edit.id}}/edit" method="post" class="col s12">
  <div class="row">
  <div class="input-field col s4">
  <input type="text" name="title"  value="{{edit.title}}" readonly="">
  <input type="text" name="description"  value="{{edit.description}}">
  <input type="url" name="image"  value="{{edit.image}}">
  </div>
</div>
  <button type="submit">add post</button>
</form>
